<menu-structure></menu-structure>

<div class="bio-wrapper">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
                <img src="../content/perfil/62654400_2733147596712628_7059062463630671872_n.jpg" alt="Foto de Juttahir Moraes" class="img-thumbnail bio-thumbnail mx-auto align-middle">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
                <div class="container">
                    <div class="bio">
                        <div>
                            <span class="bio-title">Olá, Meu nome é Juttahir Moraes Da Silva</span>
                            <div class="divider"></div>
                            <span class="bio-corpo">Nascido em 24 de dezembro de 1993 em São Paulo, sou ex professor de computação gráfica na escola SAGA e amo ser Design 3D.</span>
                        </div>
                        <div>
                            <span class="bio-title">Curiosidades sobre mim</span>
                            <div class="divider"></div>
        
                            <ul class="bio-list">
                                <li>Amante de velocidade e piloto de automobilismo virtual pela SINISTER no simulador iRACING.</li>
                                <li>Empresário e dono da hamburgueria gamer Puzzle Game Bar.</li>
                                <li>Casado a 3 anos com a melhor mulher e jogadora de LOL do mundo.</li>
                                <li>Conhecido pelos amigos como justo e honesto, sempre estão ao meu lado (amo eles <3).</li>
                                <li>Não me chame para um churrasco, grandes chances de eu aceitar.</li>
                                <li>Adoro brincar com Raspberry Pi e Arduino, gambiarras camufladas estão inclusas.</li>
                            </ul>
                        </div>
                        <div>
                            <span class="bio-title">Minhas Habilidades</span>
                            <div class="divider"></div>
        
                            <div class="habilidades">
                                <ul class="bio-list">
                                    <li class="no-list">
                                        <span>zBrush</span>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star_border</i>
                                        <i class="material-icons mail" id="mail-icon">star_border</i>
                                    </li>
                                    <li class="no-list">
                                        <span>Audition</span>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star_half</i>
                                        <i class="material-icons mail" id="mail-icon">star_border</i>
                                        <i class="material-icons mail" id="mail-icon">star_border</i>
                                    </li>
                                    <li class="no-list">
                                        <span>Photoshop</span>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                    </li>
                                    <li class="no-list">
                                        <span>Maya</span>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star_half</i>
                                    </li>
                                    <li class="no-list">
                                        <span>Realflow</span>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star_border</i>
                                        <i class="material-icons mail" id="mail-icon">star_border</i>
                                    </li>
                                    <li class="no-list">
                                        <span>After Effects</span>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star_half</i>
                                        <i class="material-icons mail" id="mail-icon">star_border</i>
                                    </li>
                                    <li class="no-list">
                                        <span>Premiere Pro</span>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star_half</i>
                                    </li>
                                    <li class="no-list">
                                        <span>Illustrator</span>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                    </li>
                                    <li class="no-list">
                                        <span>Blender</span>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star</i>
                                        <i class="material-icons mail" id="mail-icon">star_half</i>
                                        <i class="material-icons mail" id="mail-icon">star_border</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer-structure></footer-structure>