<menu-structure></menu-structure>

<div class="carousel slide" data-ride="carousel" carousel>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('content/images/destaques/cranio.jpg')"></div>
        <div class="carousel-item" style="background-image: url('content/images/destaques/Cranios.jpg')"></div>
        <div class="carousel-item" style="background-image: url('content/images/destaques/puzzle.jpg')"></div>
        <div class="carousel-item" style="background-image: url('content/images/destaques/Persona.jpg')"></div>
        <div class="carousel-item" style="background-image: url('content/images/destaques/Vinho.jpg')"></div>
    </div>
</div>

<footer-structure></footer-structure>