<menu-structure></menu-structure>

<div class="carousel slide" data-ride="carousel" carousel>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('content/images/cranio.jpg')"></div>
        <div class="carousel-item" style="background-image: url('content/images/Cranios.jpg')"></div>
        <div class="carousel-item" style="background-image: url('content/images/Persona.jpg')"></div>
        <div class="carousel-item" style="background-image: url('content/images/Vinho.jpg')"></div>
    </div>
</div>

<footer-structure></footer-structure>