<menu-structure></menu-structure>

<div class="videos-wrapper">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xs-6 embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item videos-embed" src="https://player.vimeo.com/video/193084842" alt="Petrolifera" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xs-6 embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item videos-embed" src="https://player.vimeo.com/video/193083548" alt="Composição" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xs-6 embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item videos-embed" src="https://player.vimeo.com/video/170702150" alt="Chocolate" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xs-6 embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item videos-embed fix-resolution" src="https://player.vimeo.com/video/178758610" alt="Caneca de Chopp" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xs-6 embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item videos-embed" src="https://player.vimeo.com/video/170519127" alt="Chocolate Realflow" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xs-6 embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item videos-embed" src="https://player.vimeo.com/video/170519126" alt="Particulas" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xs-6 embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item videos-embed" src="https://player.vimeo.com/video/179507413" alt="Suor" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xs-6 embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item videos-embed" src="https://player.vimeo.com/video/179506527" alt="Gas" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>

<footer-structure></footer-structure>