<footer class="footer">
    <div class="container">
        
        <div class="row">
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xs-1" id="footer-logo">
                <img src="content/logo/juhart-logo.png" class="min-logo lign-self-center">
            </div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-11 col-xs-11">
                <span class="author">
                    JutArt 2019 - Juttahir Moraes da Silva<br/>
                </span>
                <span>
                    <a class="mail" href="mailto:profjuttahir@gmail.com">
                        <i class="material-icons mail" id="mail-icon">mail</i> profjuttahir@gmail.com
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>