<nav class="navbar navbar-expand-lg navbar-dark dark-menu">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1" id="nav-collapse">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="/Portifolio">PORTIFOLIO</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Videos">VÍDEOS</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-lg-1 position-relative">
        <a class="mx-auto" href="/">
            <img src="content/logo/juhart-logo.png" class="rounded-circle logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="/Bio">BIOGRAFIA</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Contato">CONTATO</a>
            </li>
        </ul>
    </div>
</nav>